.searchbox {
  border: solid 1px black;
  padding: 4px;
  margin-bottom: 20px;
}

.formContainer {
  padding-left: auto;
  padding-right: auto;
  display: block;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  margin-bottom: -20px;
}
.cardContainer > * {
  margin-bottom: 20px;
  z-index: 1;
}

.cardText {
  font-size: 12px;
}
